html, body {
  min-height: 100%;
}

body {
  min-width: 100%;
  background-image: url("../images/grass.jpg");
}

header {
  font-family: 'Trade Winds', cursive;
  text-align: center;
  font-size: 4em;
  text-shadow: 3px 3px 3px #0A0A0A;
}

h1 {
display: inline;
position: relative;
letter-spacing: -5px;
color: rgba(0,0,255,0.5);
}

h1:after {
content: “Ruby Domination”;
position: absolute;
left: 8px; top: 6px; /* These are aligning it to be where we’d like relative to the last word */
color: rgba (255,0,0,0.5); /* This gives us a red at 50% opacity */
}


.bullet {
  max-width: 15px;
  min-height: 15px;
  position: absolute;
  -webkit-animation: spin 1s infinite linear;
}


.tower {
  max-width: 30px;
  min-height: 30px;
  position: absolute;
}

.towerImage {
  max-width: 100%;
  max-height: 100%;
}

.ruby {
  max-width: 100%;
  max-height: 100%;
}

@-webkit-keyframes spin {
    from {-webkit-transform:rotate(0deg);}
    to {-webkit-transform:rotate(360deg);}
}

.creep {
  background-image: url("../images/darcydevilicon.png");
  background-size: 100%;
  width:30px;
  height:30px;
  display: block;
  position:absolute;
}

/*#game {border:1px solid gray; margin:20px;height:500px;position:relative;}
*/