.creep {
  background-image: url("../images/creep.png");
  background-size: 100%;
  width:20px;
  height:20px;
  display: block;
  position:absolute;
}

#game {border:1px solid gray; margin:20px;height:500px;position:relative;}
